<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning, Morgan Library, Computer Classroom 175</td> <td> <a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for data cleaning</a></td></tr>
      <tr><td> </td><td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Review of R basics</a></td></tr>
      <tr><td>Afternoon, Morgan Library, Event Hall</td><td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Continuation of R: data analysis & visualization</a></td></tr>
      <tr><td> </td><td>Intro to git (if time allows)</td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning, Morgan Library, Event Hall</td> <td>R Markdown</td></tr>
      <tr> <td>Afternoon, Morgan Library, Event Hall</td><td>Version control with git & using Github</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
